<div class="container text-center">
  <h1>Meet the Team</h1>
  <div class="row team">
    <div class="col-md-6">
      <%= image_tag("sean.jpg", size: "200")%>
      <h4> <%= link_to 'Sean Lovinger', 'https://github.com/smlovin2' %></h4>
      <p>Insert clever bio here</p>
    </div>
    <div class="col-md-6">
      <%= image_tag("yowon.jpg", size: "200") %>
      <h4><%= link_to 'Yowon Yoon', 'https://github.com/mrmonsk' %></h4>
      <p>Yowon Yoon is a rookie web developer from St. Paul, Minnesota. He is a lover of music, tennis, and hockey.</p>
    </div>
  </div>
</div>
