<div class="container-fluid splash">
    <h2>OrionChess</h2>
    <br />
    <%= link_to 'Find a Game', games_path, :class => 'btn btn-default' %>
    <br />
    <div id="bottom"><p>A simple chess game built with Ruby on Rails</p></div>
</div>
