<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
</p>

<table id="chessboard">
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |col| %>
        <td>
          <%= pieces_draw_piece(@piece, row, col) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_game_path(@piece.game) %> |
<%= link_to 'Back', games_path %>
