$footer-height: 120px;

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;

}

#footer {
	height:$footer-height;
	background-color: rgba(0,0,0,0.8);
	line-height: 24px;
	text-align: center;
	padding-top: 24px;
}

#footer a {
	color: #F7F7F7;
	font-family: "Ubuntu", sans-serif;
	text-transform: uppercase;
}

#footer a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
