// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#chessboard {
  border: 10px solid;
  border-color: #2C2918;
  border-collapse:separate;
  border-radius: 3px;
  margin: auto;

  td span {
    font-family: 'chess_casesregular';
    font-size: 45px;
    vertical-align: middle;
    margin:0;
  }

  td span:hover {
    color: #00BFFF;
    opacity: 0.6;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  td span#selected {
    opacity: 0.6;
  }

  td a.empty-space:hover {
    background-color: rgba(255, 255, 0, 0.25);
  }

  td {
    width: 60px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) td:nth-child(even),
  tr:nth-child(odd) td:nth-child(odd) {
    background-color: #F7F7F7;
  }

  tr:nth-child(odd) td:nth-child(even),
  tr:nth-child(even) td:nth-child(odd) {
    background-color: #A19B88;
  }
}

.game-links {
  text-align: center;
  margin-top: 20px;

  .btn {
    margin-right: 10px;
  }
}

#pawn-promotion .modal-content {
  display: inline-block;
}

.pawn-promotion-modal-body {
  font-family: 'chess_casesregular';
  font-size: 45px;
  margin: 10px;

  .promotion {
    border: 3px solid transparent;
    border-radius: 3px;
  }

  .promotion:hover {
    cursor: pointer;
    border: 3px solid #A19B88;
  }
}

#new-game {
  .modal-dialog {
    width: 300px;
  }
  .piece-color {
    font-family: 'chess_casesregular';
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid transparent;
    border-radius: 3px;
  }

  .piece-color:hover {
    cursor: pointer;
  }
  .selected {
    border: 3px solid #A19B88;
  }
  .modal-footer {
    text-align: center;
  }
}
