// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#chessboard {
  border: 5px solid;
  border-color: #2C2918;
  border-collapse:separate;
  border-radius: 10px;
  margin: auto;

  td span {
    font-family: 'chess_casesregular';
    font-size: 60px;
    vertical-align: middle;
    margin: 0;
  }

  td span:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  td span#selected {
    color: yellow;
  }

  td a.empty-space:hover {
    background-color: rgba(255, 255, 0, 0.25);
  }

  td {
    width: 80px;
    height: 80px;
    text-align: center;
  }

  tr:nth-child(even) td:nth-child(even),
  tr:nth-child(odd) td:nth-child(odd) {
    background-color: #A19B88;
  }
  
  tr:nth-child(odd) td:nth-child(even),
  tr:nth-child(even) td:nth-child(odd) {
    background-color: #F7F7F7;
  }
}
