.navbar-default {
  padding-left: 100px;
  padding-right: 100px;
  border-radius:0;
  border: none;
  background-color: #030000;
  width: 100%;
  z-index: 999;
}

.navbar a.navbar-brand {
  font-family: 'Droid Serif', serif;
  color: #F7F7F7;
  float: left;
}

.navbar a.navbar-brand:hover {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Ubuntu', sans-serif;
  color: #F7F7F7;
  font-size: 14px;
  font-weight:200;
  vertical-align: middle;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:active {
  color: white;
  font-weight: bold;
}

.navbar-fixed-top {
  background-color: rgba(0,0,0,0);
  transition: background-color 1s ease 0s;
}
.navbar-fixed-top.opaque {
  background-color: rgba(0,0,0,0.8);
  transition: background-color 1s ease 0s;
}

body {
  font-family: 'Droid Serif', serif;
  background-color: #B8B2A9;
}


a.signin, header.navigation a.signout {
  display: inline;
  float: left;
  text-transform: uppercase;
}

a.signup {
  text-transform: uppercase;
  float:right;
}

.splash {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)),
      url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 550px;
  text-align: center;
  position: relative;
}

.splash h2{
  color: #F7F7F7;
  font-size: 40px;
  // line-height: 450px;
  vertical-align: middle;
  padding-top: 15%;
}

.splash p {
  color: #F7F7F7;
  font-size: 16px;
  text-align: center;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, .navbar-default {
	margin: 0;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.3);
  margin-top: 70px;
  border-radius: 5px;
}

.container p {
  color: white;
}

.team a {
  color: #F7F7F7;
}

.team a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.team p {
  text-align: left;
}

.edit, .edit:hover {
  color: #F7F7F7;
  font-size: 20px;
  text-decoration: none;
}
